@charset "utf-8";
.practice{
  width:400px;
  height: 450px;
}
.practice-redBox{
  height: 100px;
  background-color: #ff0000;
  position: relative;
}
.practice-redBox__whiteBox{
  position:absolute;
  top:20px;
  right: 20px;
  padding: 10px;
  background-color: #ffffff;
}
.practice-redBox__whiteBox-one{
  width: 40px;
  height: 40px;
  background-color: #a9004b;
}
.practice-redBox__whiteBox-two{
  width: 40px;
  height: 40px;
  background-color: #a9004b;
}
.practice-redBox__whiteBox-three{
  width: 40px;
  height: 40px;
  background-color: #a9004b;
}
.practice-middle__greenBox{
  float: left;
  width: 150px;
  height: 250px;
  background-color: #00ff51;
}
.practice-middle__brownBox{
  width: 250px;
  height: 250px;
  background-color: #8c2727;
  float: left;
  position: relative;
}
.practice-middle__brownBox-orangeBox-one{
  position: absolute;
  top:40px;
  left: 40px;
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: 5px solid #fff;
}
/* .practice-middle__brownBox::after{
  content: "";
  display: block;
  clear: both;
} */
.practice__yellow-box{
  height: 100px;
  background-color: #ffd000;
}
