@charset "utf-8";
.practice{
  width:400px;
  height: 450px;
}
.practice__red-box{
  height: 100px;
  background-color: #ff0000;
}
.practice__float-middle::after{
  content: "";
  display: block;
  clear: both;
}
.practice__green-box{
  width: 150px;
  height: 250px;
  background-color: #00ff51;
  float: left;
}
.practice__float-right-top-center{
  width: 150px;
  float: left;
}
.practice__purple-box{
  height: 50px;
  background-color: #cc00db;
}
.practice__skyblue-box{
  height: 100px;
  background-color: #0093b7;
}
.practice__skincolor-box{
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
  float: left;
}
.practice__darkbrown-box{
  width: 250px;
  height: 100px;
  background-color: #8c2727;
  float: left;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.practice__yellow-box{
  height: 100px;
  background-color: #fff700;
}